body {
    background-image: url(http://images4.fanpop.com/image/photos/23200000/Messi-lionel-andres-messi-23276631-1351-800.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

.presentacion {
    background: white;
    margin-left: 1000px;
    margin-right: 0px;
    box-shadow: rgba(0,0,0,.05);
}

#parrafo {
    padding-top: 0px;
    text-align: right;
    text-justify: auto;
    
}
#perfil{
    width: 200px;
}
