body {
    background: url(https://i.pinimg.com/originals/1f/f5/3a/1ff53a5a1072342894007d5155fd901b.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

input.btn {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

input.btn:hover{
        background: rgba(0,0,0,0);
        color: #3a7999;
        box-shadow: inset 0 0 0 3px #3a7999;
}
