@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Index.css" rel="stylesheet" />

<br />
<div class="presentacion">
    <center>
        <img id="perfil" src="https://z-p3-scontent.fros2-1.fna.fbcdn.net/v/t1.0-9/15873394_1707515535940618_6351117246811332346_n.jpg?_nc_cat=100&_nc_ht=z-p3-scontent.fros2-1.fna&oh=c3050aa9d46d673c6321f8d3e29a29d4&oe=5C7965E2"  />
        <br />
        <p4 id="parrafo">
            Soy Maximiliano Marín, estudiante de Ingeniería en Informática en la Universidad Católica de Santiago del Estero (Departamento Académico
            Rafaela). Este blog está relacionado con el deporte, brindando en el mismo toda la información de la actualidad. Fútbol (fichajes, partidos, perfil
            de jugadores, horarios, equipos, selecciones, ligas de diferentes países). Tenis (Grand Slam 2018, jugadores, ranking actualizado, Copa Davis). Todas
            las novidades sobre los juegos Olímpicos de la Juventud, llevados a cabo en nuestro país y mucho más.
        </p4>
    </center>



</div>